.NavBar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: var(--color-secondary);
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  /* overflow: hidden; */
}

.NavBar-title {
  display: flex;
  font-size: 30px;
  height: var(--nav-bar-height);
  /* background-color: violet; */
  color: var(--color-alt-text-secondary);
  align-items: center;
  justify-content: center;
  /* margin-top: 56px; */
}

@media (max-width: 600px) {
  .NavBar-title {
    display: none;
  }
}

.NavBar-name {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-alt-text-primary);
  font-size: 20px;
  text-decoration: none;
}

.NavBar-social {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  height: var(--nav-bar-height);
}

.NavBar-icon-container {
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar-icon {
  height: 25px;
  width: 25px;
  padding: 0 5px
}