.Countries {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.Country-container:first-of-type { 
  padding-top: 20px;
 }


.Countries-header {
  display: flex;
  /* padding: 20px; */
  height: var(--nav-bar-height);
  box-sizing: border-box;
  font-size: 30px;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);
  border-top: 1px solid var(--color-text-primary);
  border-bottom: 1px solid var(--color-text-primary);
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}

.Country-container {
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: stretch;
}

.Country-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  align-items: flex-start;
  justify-content: center;
}

.Country-name {
  color: var(--color-text-primary);
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}



.Country-information-confirmed {
  /* font-weight: bold; */
  color: var(--color-text-primary);
  font-size: 20px;
}

.Country-information-new {
  color: var(--color-text-secondary);
  font-size: 15px;
  padding-left: 5px;
}