.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  background-color: var(--color-background-primary);
}


/* @media (max-width: 500px) {
  .App {
    height: 1024px;
  }
} */


.Header {
  display: flex;
  margin: 20px 0;
  width: 100%;
}

.Information {
  display: flex;
  width: 100%;
}