.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: stretch;
  flex-direction: column;
  background-color: var(--color-background-primary);
}

.Header {
  display: flex;
  margin: 76px 0;
  width: 100%;
  max-width: 1200px;
}

.Information {
  display: flex;
  width: 100%;
  max-width: 1200px;
}