.Summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}

.Summary-title {
  font-size: 50px;
  color: var(--color-text-primary);
}

.Summary-information-container {
  padding: 25px;
  display: flex;
  width: 75%;
}

.Summary-information {
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  font-size: 20px;
  border: 1px solid var(--color-text-primary);
  flex: 1 0 0px;
  width: 33.3%;
  overflow: hidden;
}

@media (max-width: 600px) {
  .Summary-information-container {
    flex-direction: column;
  }

  .Summary-information {
    width: 100%;
  }
}

.Summary-information-newcases {
  font-size: 20px;
  color: var(--color-text-secondary);
}


.Summary-information-number {
  font-size: max(25px, 1vw);
  color: var(--color-text-primary);
  font-weight: initial;
}

.SummaryProgressBar {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.SummaryProgressBar-container {
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.SummaryProgressBar-confirmed {
  background-color: var(--color-information);
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 15px;
  /* border-right: 1px solid var(--color-text-primary); */
}

.SummaryProgressBar-recovered {
  background-color: var(--color-warning);
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 15px;
  /* border-right: 1px solid var(--color-text-primary); */
}

.SummaryProgressBar-deaths {
  background-color: var(--color-error);
  padding-left: 5px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 15px;
}